.button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.button {

    background-color: rgb(205, 40, 11);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    height: 35px;
}

span {
    color: #fff;
    margin: 0 40px;
}

#slide-down-btn {
    position: fixed;
    top: 0px;
    transition: bottom 0.3s ease-in-out;
    z-index: 9999;
}

body {

    background-image: url("./view/O0sR4X2H20210829064225.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;


}

/* Slide Show */
.slideshow{
    width: 80vw;  
}
.carousel-item img {
    width: 70%;
    height: fit-content;
}

/* thiết lập style cho slideshow container */
.carousel-inner {
    
    
    
    height: auto;
    display: block;
    object-fit: cover;
    position: relative;
    margin: 50px 0 0 0;
    left: 76.3%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;

}

.carousel-control-prev-icon{
    top: calc(50% - (33px)/ 2);
    position: absolute;
    width: 33px;
    height: 33px;
    margin-left: 21vw;
}
.carousel-control-next-icon {
    position: absolute;
    width: 33px;
    height: 33px;
    margin: 0 0 0 7.4rem; /* assuming parent container font-size is 10px */
    z-index: 1;
    top:calc(50% - (33px)/ 2);
}


/* For me */
/* 1 */
.image-container1 {
    position: relative;
    
}

.img_for_me1 {
    position: absolute;
    top: 30px;
    left: 37%;
    max-width: 100%;
    height: auto;
    width: 596px;
}

.text-overlay1 {
    border-radius: 14px;
    background-color: aliceblue;
    height: 160px;
    width: 370px;
    position: absolute;
    top: 260px;
    left: 33%;
    transform: translate(-50%, -120%);
    z-index: 1;
    text-align: start;
    padding: 10px;
}

/* 2 */
.image-container2 {
    position: relative;
}

.img_for_me2 {
    position: absolute;
    top: 57vh;
    right: 38%;
    max-width: 100%;
    height: 400px;
    width: 596px;
}

.text-overlay2 {
    border-radius: 14px;
    background-color: aliceblue;
    height: 160px;
    width: 370px;
    position: absolute;
    top: 700px;
    right: 9.5%;
    transform: translate(-50%, -120%);
    z-index: 1;
    text-align: start;
    padding: 10px;
}
.list_food{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 124vh;
    
}
.title{
    text-align: center;
    font-size: 35px;
    color: red;
    margin-bottom: 30px;
    
}
.grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
}

.grid-iteml {
    left: 3vw;
    width: 250px;
    background-size: cover;
    background-position: center center;
    height: 200px;
    position: relative;
}

.caption {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
/*  */
.grid-container {
    margin-top: 10vh;
    height: 74vh;
    margin-inline: auto;
    width: 57vw;
    text-align: center;
    display: grid;
    grid-template-columns:  35% 65%;
}
.layer_col_1{
    display: grid;
    grid-template-rows: 70% 30%;
}
.layer_col_2{
    display: grid;
    grid-template-rows: 50% 50%;
}
.layer_row_2{
    display: grid;
    grid-template-columns: 55% 45%;
    
}
.layer_row_3{
    display: grid;
    grid-template-columns: 47% 53%;
}
.side_bar1{
    padding: 10px;
    font-size: 70px;
    text-align: left;
    text-transform: uppercase;
    line-height: 80px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.side_bar2{
    margin-top: -100px;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    box-sizing: border-box;
    line-height: 24px;


}
.side_bar3{
    background-image: url(./view/bff_3377-20210829071147.jpg);
    display: block;
        max-width: 300px;
        max-height: 400px;
        width: auto;
        height: auto;
        background-attachment:local;
        background-size: contain;
        background-repeat: no-repeat;
        
}
.cap1{
    font-family:'Times New Roman', Times, serif;
    margin-top: 30vh;
    font-size: 35px;
    font-weight: bold;
    margin-left: -20px;
    text-transform: uppercase;

}

.side_bar4{
background-image: url(./view/bff_8502-20210829070848.jpg);
    display: block;
    max-width: 300px;
    max-height: auto;
    width: auto;
    height: auto;
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 12vh;
}
.cap2 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10vh;
    font-size: 35px;
    font-weight: bold;
    margin-left: -60px;
    text-transform: uppercase;

}
.side_bar5 {
    background-image: url(./view/3-20210829071015.jpg);
    display: block;
    max-width: 250px;
    max-height: auto;
    width: auto;
    height: auto;
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0;
    
}

.cap3 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25vh;
    font-size: 26px;
    font-weight: bold;
    margin-left: -20px;
    text-transform: uppercase;

}
.side_bar6 {
    background-image: url(./view/lets-sushi-ha-dong-3-20220511115129.gif);
    display: block;
    max-width: 300px;
    max-height: auto;
    width: auto;
    height: auto;
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 6vh;
}

.cap4 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: -6vh;
    font-size: 30px;
    font-weight: bold;
    margin-left: -20px;
    text-transform: uppercase;

}
.grid-contai {
    margin-top: 10vh;
    height: 50vh;
    margin-inline: auto;
    width: 57vw;
    display: grid;
    grid-template-columns: 50% 50%;
}
.video{
    
}
.address{
    background-color: #9c0606;
    padding: 5px;
}
.til{
    line-height: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.para{
    font-size: 15px;
    color: #fff;
    line-height: 18px;
}








/* Responsive */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* navbar */
    .button-container {

        width: 110vh;
    }

    #button1 {
        margin-left: 32vw;
    }

    .button {
        width: 130px;
        height: auto;
        font-size: 15px;
        line-height: 40px;
    }

    .span1 {
        margin: 0 5px 0 0;
    }

    .span2 {
        margin: 0 0 0 5px;

    }

    /* slide show */
    .slideshow {
        width: 120vw;
        margin-left: 10vw;
    }
        .carousel-item img {
            width: 70%;
            height: fit-content;
        }

    .carousel-control-prev-icon {
        margin-left: 0vw;
    }
    .carousel-control-next-icon {
        margin-left: 112vw;
    }
    .carousel-inner {
        margin: 70px 0 0 0px;
    }

    /* for me */
    .image-container1 {
        margin: 3vh 4vw;
        width: 400px;
        height: auto;
    }

    .text-overlay1 {
        width: 0vw;
    }
}