.button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.button {

    background-color: rgb(205, 40, 11);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    height: 35px;
}

span {
    color: #fff;
    margin: 0 40px;
}

#slide-down-btn {
    position: fixed;
    top: 0px;
    transition: bottom 0.3s ease-in-out;
    z-index: 9999;
}

body {

    background-image: url("./view/O0sR4X2H20210829064225.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;


}

/* Slide Show */
.slideshow{
    width: 80vw;  
}
.carousel-item img {
    width: 100%;
    height: fit-content;
}

/* thiết lập style cho slideshow container */
.carousel-inner {
    width: 900px;
    height: 566.97px;
    
    height: auto;
    display: block;
    object-fit: cover;
    position: relative;
    margin: 50px 0 0 140px;
    left: 50%;
    transform: translateX(-50%);

}

.carousel-control-prev-icon{
    top: calc(50% - (33px)/ 2);
    position: absolute;
    width: 33px;
    height: 33px;
    margin-left: 20vw;
}
.carousel-control-next-icon {
    position: absolute;
    width: 33px;
    height: 33px;
    margin-top: 0vw;
    margin-left: 77vw;
    z-index: 1;
    top:calc(50% - (33px)/ 2);
}


/* For me */
/* 1 */
.image-container1 {
    position: relative;
}

.img_for_me1 {
    position: absolute;
    top: -30px;
    left: 40%;
    max-width: 100%;
    height: auto;
    width: 596px;
}

.text-overlay1 {
    border-radius: 14px;
    background-color: aliceblue;
    height: 160px;
    width: 370px;
    position: absolute;
    top: 260px;
    left: 32%;
    transform: translate(-50%, -120%);
    z-index: 1;
    text-align: start;
    padding: 10px;
}

/* 2 */
.image-container2 {
    position: relative;
}

.img_for_me2 {
    position: absolute;
    top: 57vh;
    right: 39%;
    max-width: 100%;
    height: 400px;
    width: 596px;
}

.text-overlay2 {
    border-radius: 14px;
    background-color: aliceblue;
    height: 160px;
    width: 370px;
    position: absolute;
    top: 700px;
    right: 6%;
    transform: translate(-50%, -120%);
    z-index: 1;
    text-align: start;
    padding: 10px;
}

/* Responsive */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* navbar */
    .button-container {

        width: 110vh;
    }

    #button1 {
        margin-left: 32vw;
    }

    .button {
        width: 130px;
        height: auto;
        font-size: 15px;
        line-height: 40px;
    }

    .span1 {
        margin: 0 5px 0 0;
    }

    .span2 {
        margin: 0 0 0 5px;

    }

    /* slide show */
    .slideshow {
        width: 120vw;
        margin-left: 10vw;
    }

    .carousel-control-prev-icon {
        margin-left: 0vw;
    }
    .carousel-control-next-icon {
        margin-left: 112vw;
    }
    .carousel-inner {
        margin: 70px 0 0 0px;
        width: 600px;
        height: auto;
    }

    /* for me */
    .image-container1 {
        margin: 3vh 4vw;
        width: 400px;
        height: auto;
    }

    .text-overlay1 {
        width: 60vw;
    }
}